<!doctype html>
<html>
 <include file="Public/head" /><!--外部样式模版head-->

<body>
<include file="Public/header" /><!--头部模版header-->
<div class="container clearfix">
    <include file="Public/left" /><!--左侧模版left-->   
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/Index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">用户管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <!-- <a href="{:U('Nav/navAdd')}"><i class="icon-font"></i>新增广告</a> -->
                        <!-- <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a> -->
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" id="check_all" type="checkbox"></th>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>密码</th>
                            <th>注册时间</th>
                            <th>手机号</th>
                            <th>头像</th>
                            <th>操作</th> 
                        </tr>
                        <foreach name='list' item="li">
                            <tr id="k_{$li.a_id}">
                                <td class="tc"><input name="id[]" value="{$li.a_id}" class="userid" type="checkbox"></td>
                                <td>{$li.a_id}</td>
                                <td>{$li.u_name}</td>
                                <td>{$li.pwd}</td>
                                <td>{$li.time}</td>
                                <td>{$li.phone}</td>
                                <td><if condition="$li.img eq ''">无头像<else /><img src="__PUBLIC__/{li.img}" alt=""></if></td>
                                <td>
                                  <!--   <a class="link-update" href="#">修改</a> -->
                                    <a class="link-del" href="javascript:void(0)" id="{$li.a_id}">删除</a> <!-- -->
                                </td>
                            </tr>
                        </foreach>
                    </table>
                     <div class="list-page">{$page}</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>
<script src="__PUBLIC__/Admin/js/jquery-1.7.2.js"></script>
<script>
    //反选
    $('#check_all').click(function(){
        $(":checkbox").each(function(){
            $(this).attr('checked',!$(this).attr('checked'));
        })
      })
    //单删
    $('.link-del').click(function(){
       var id=$(this).attr('id');
       //alert(id);
       $.ajax({  
            type:'GET',  
            url:'{:U('del')}',  
            data:{ 
                id:id,   
            },  
            success:function(msg){  
                if(msg){
                // console.log(msg)  
                 //alert(1);
                 $('#k_'+msg).remove();
                }   
     }
    })
    });
     

</script>